body{
    margin: 0;
}

h1{
    font-size: 5rem;
    background-image: url(images/pexels-did.jpg);
    background-clip: text;
    background-size: 300% 300%;
    animation: animate 8s ease infinite;
    color: transparent;
    font-family: sans-serif;
}

#title1{
    min-height: 100dvh;
    min-width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes animate{
0% {
    background-position: 0%;
}

50% {
    background-position: 100%;
}

100%{
    background-position: 0%;
}
}