body{
    background-color: rgb(245, 247, 246);
    font-family: sans-serif;
}

.container{
    background-color: white;
    max-width: 700px;
    margin: auto;
    padding: 1rem;
}

.forma{
    border: 1px solid #eaeceb;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 30px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.unos{
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 1.4rem;
    border-bottom: 2px solid blue;
    padding-bottom: 10px;
    max-width: 180px;
}

label{
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="email"],
select{
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"]{
    background-color: rgb(40, 167, 69);
    color: white;
    padding: 0.5rem;
    border: 0;
    border-radius: 5px;
    max-width: 200px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th{
    background-color: rgb(2, 123, 255);
    color: white;
    padding: 5px;
    font-size: 0.8em;
    text-align: left;
}

tbody > tr > td:first-child,
thead > tr > th:first-child,
thead > tr > th:last-child{
    text-align: center;
}

tbody > tr > td:last-child{
    color: red;
    text-align: center;
}

td{
    padding: 7px;
    border-bottom: 1px solid #ccc;
}