body {
    background-color: rgb(245, 247, 246);
    font-family: sans-serif;
}

.container {
    max-width: 700px;
    margin: auto;
    padding: 1rem;
    padding-bottom: 20px;
}

.user-list {
    max-width: 700px;
    margin: auto;
    padding-bottom: 3rem;
}

.forma {
    background-color: white;
    border: 1px solid #eaeceb;
    border-radius: 7px;
    padding: 1em;
    margin-bottom: 30px;
    box-shadow: 0 0 5px #ccc;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.unos {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

h1 {
    font-size: 1.4rem;
    border-bottom: 2px solid rgb(2, 123, 255);
    padding-bottom: 10px;
    max-width: 163px;
}

#prvi {
    font-size: 1.4rem;
    border-bottom: 2px solid rgb(2, 123, 255);
    padding-bottom: 10px;
    max-width: 145px;
}

label {
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="email"],
select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: rgb(40, 167, 69);
    color: white;
    padding: 0.5rem;
    border: 0;
    border-radius: 5px;
    max-width: 130px;
}

table {
    width: 97%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 5px #ccc;
}

th {
    background-color: rgb(2, 123, 255);
    color: white;
    padding: 10px;
    font-size: 0.8em;
    text-align: left;
}

tbody>tr>td:first-child,
thead>tr>th:first-child,
thead>tr>th:last-child {
    text-align: left;
}

tbody>tr>td:last-child {
    color: rgb(218, 83, 80);
    text-align: left;
    font-weight: bold;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#Marko,
#Luka {
    background-color: rgb(242, 242, 242);
}