body {
    background: #1C21A4;
    background: -moz-linear-gradient(left, #1C21A4 0%, #DDB0EA 100%);
    background: -webkit-linear-gradient(left, #1C21A4 0%, #DDB0EA 100%);
    background: linear-gradient(to right, #1C21A4 0%, #DDB0EA 100%);
}

section {
    display: grid;
    grid-template-areas:
        ". a a b"
        "c d d b"
        "e e e b";
    row-gap: 2rem;
    column-gap: 2rem;
}

.a {
    grid-area: a;
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}

.d {
    grid-area: d;
}

.e {
    grid-area: e;
}

div {
    background-color: aliceblue;
    border-radius: 2rem;
    font-size: 4rem;
    padding: 2rem;
    border: 4px dotted red;
}

a {
    color: red;
}