body{
    background-color: rgb(240, 240, 240);
}

section{
    display: grid;
    grid-template-areas: 
    "p1 p1 p1 p1"
    "p2 center center p4 "
    "p2 center center p4"
    "p5 p5 p5 p5";
    grid-template-columns: .6fr 3fr 3fr .6fr;
    grid-template-rows: auto 1fr 1fr auto;
    gap: .5rem;
}

.p1{
    grid-area: p1; background:rgb(231, 77, 61);
}
.p2{
    grid-area: p2; background: rgb(52, 152, 220);
    display: flex;
    justify-content: center;
    align-items: center;
}
.p4{
    grid-area: p4; background: rgb(155, 89, 182);
    display: flex;
    justify-content: center;
    align-items: center;
}
.p5{
    grid-area: p5; background: rgb(47, 204, 113);
}

.p1, .p5{
padding: 1rem;
}

div{
    font-size: 1rem;
    border: 2px solid black;
    text-align: center;
    color: white;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 2px black;
}

.center{
    grid-area: center;
    background: #fff;
    border: 2px solid black;
    padding: 5rem .5rem;

    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    row-gap: 350px;
    column-gap: 10px;
}

.s1{
 background: rgb(241, 196, 15); 
 grid-column: 1/3;
}

.s2{
background: rgb(230, 126, 35);
}

.s3{
 background: rgb(24, 160, 133);
}

a{
    color: yellow;
}