html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eee;
}

body {
    background-color: rgb(255, 255, 255);
    max-width: 65%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(33, 33, 33);
    padding: 0.5rem 3rem;
}

header #site-title {
    font-size: x-large;
    font-weight: bolder;
    color: rgb(255, 152, 0);
    text-shadow: 0 2px 4px #000;
}

header div {
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header ul li {
    float: left;
    margin: 1rem;
    color: #fff;
    font-size: small;
    font-weight: bolder;
    cursor: pointer;
}

#colored {
    background-color: rgb(20, 20, 20);
    color: #fff;
    padding: 30px 0 50px 0;
    text-align: center;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#colored #colored-div {
    width: 100%;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

#colored h1,
#colored p {
    margin: 0;
}

#colored h1 {
    font-size: 2.5rem;
}

#colored button {
    background-color: rgb(255, 152, 0);
    border-radius: 8px;
    font-weight: bolder;
    padding: 0.8rem 2rem;
    border: none;
}

#services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 3rem;
}

#services p {
    margin: 0 0 1rem;
}

#services h2,
.grey-box-container {
    margin: 1rem 0;
}

.grey-box-container {
    display: flex;
    column-gap: 1rem;
}

.grey-box {
    flex-grow: 1;
    background-color: rgb(245, 245, 245);
    border-left: 4px solid rgb(255, 152, 0);
    border-radius: 8px;
    padding: 1rem 2rem;
    line-height: 1.5;
}

#about {
    display: flex;
    align-items: stretch;
    padding: 1rem 2rem;
}

#about #about-company,
#about #about-company-rest {
    flex: 1;
    line-height: 1.5;
    padding: 0 1rem;
}

#about #divider {
    width: 2px;
    background: rgb(232, 232, 232);
    align-self: stretch;
    margin: 1rem 0;
}

#about p {
    text-align: justify;
}

#prices {
    padding: 1rem 3rem;
}

table {
    background-color: #fff;
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

table caption {
    text-align: left;
}

table #table-help-text span {
    font-size: small;
}

tr {
    border: 1px solid rgb(229, 229, 229);
}

tr:nth-child {
    background-color: rgb(249, 249, 249);
}

th {
    background-color: rgb(33, 33, 33);
    color: white;
    font-weight: bold;
}

th,
td {
    padding: 0.8rem 1rem;
}

tfoot td {
    font-size: small;
}

#contact {
    padding: 1rem 3rem;
    margin-bottom: 1rem;
}

#contact-container {
    background-color: rgb(245, 245, 245);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

legend {
    color: rgb(255, 151, 0);
    font-weight: bold;
}

fieldset {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0 1rem 1rem;
    border-radius: 8px;
    line-height: 2rem;
    border: 1px solid rgb(204, 204, 204);
    max-width: 40%;
    width: 100%;
    background-color: #fff;
}


input,
select,
textarea {
    box-sizing: border-box;
}

fieldset legend {
    padding: 0 0.5rem;
}

input[type="text"],
input[type="password"],
select,
textarea {
    border-radius: 4px;
    border: 1px solid rgb(204, 204, 204);
    padding: 8px;
    width: 100%;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    background: #fff;
    cursor: pointer;
}

#urgent-container {
    display: inline-flex;
    align-items: center;
    gap: 0.2rem;
}

#workload-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 43%;
    width: 100%;
    margin: 2rem 0;
}

#workload-container meter {
    width: 100%;
}

#workload-container p,
#workload-container h4 {
    margin: 0;
}

#workload-container form{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
}

#workload-container button {
    margin-top: 2rem;
    background-color: rgb(255, 152, 0);
    border: none;
    border-radius: 0.5rem;
    padding: 0.6rem 0;
    box-shadow: 0 4px 4px rgb(206, 210, 216);
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

footer {
    text-align: center;
    color: #fff;
    background-color: rgb(33, 33, 33);
    padding: 1.5rem 1.5rem 1rem;
    line-height: 1.5;
}

footer hr {
    border: 1px solid rgb(68, 68, 68);
}

footer a {
    color: rgb(255, 152, 0);
}

footer #copyright {
    margin: 1rem 0;
    color: rgb(153, 153, 153);
    font-size: small;
}