:root {
    --default-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

body,
fieldset {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

body {
    background-color: rgb(243, 244, 246);
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#image-padlock,
#container,
input[type="text"],
input[type="password"],
button,
table {
    width: 100%;
}

#image-padlock {
    margin: 12px 0;
    max-width: 50px;
}

#container {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    margin: 0 0 1rem;
    max-width: 450px;
    border-radius: var(--default-radius);
    box-shadow: 0 2px 4px rgb(206, 210, 216);
}

fieldset,
table {
    text-align: left;
}

fieldset,
input[type="text"],
input[type="password"] {
    border: 1px solid rgb(232, 234, 237);
}

fieldset {
    padding: 20px;
    border-radius: var(--default-radius);
    line-height: 2rem;
}

#remember-me-container {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

input[type="text"],
input[type="password"],
input[type="checkbox"],
button {
    border-radius: var(--default-radius);
}

input[type=text],
input[type=password] {
    padding: 12px;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
}

#form-title {
    font-size: larger;
    font-weight: bold;
    padding: 0 1rem;
}

button {
    color: white;
    background-color: rgb(38, 99, 235);
    height: 48px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border: none;
}

table {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width: 650px;
    border-collapse: collapse;
}

table h4 {
    color: rgb(49, 59, 76);
}

th {
    background-color: rgb(249, 250, 251);
}

th,
td {
    padding: 0.8rem 1rem;
}

tfoot td {
    font-size: small;
    text-align: center;
}

#success {
    color: rgb(84, 158, 75);
}

#error {
    color: rgb(254, 0, 0);
}

caption {
    line-height: 2px;
}

th,
td:not(:empty) {
    border-bottom: 1px solid rgb(231, 233, 237);
}